# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Keys
*.pem

# Python
__pycache__/
*.pyc

# Jenkins
jenkins-data/
venv/
__pycache__/
*.pyc
.envnode_modules/
**/node_modules/

# Database backup files
backup.sql

